.login-wrapper {
  min-height: 100vh;
  background: linear-gradient(to right, #1e3a8a, #2563eb);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 45px;
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}


.login-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.login-subtitle {
  text-align: center;
  font-size: 0.95rem;
  color: #6c757d;
  margin-bottom: 25px;
}

.login-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8rem;
  color: #868e96;
}
